#calculator-section,
#player-class-section {
  display: none; }

#player-class {
  min-width: 220px; }

.stats {
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 20px; }

legend.stats-title {
  margin: 0 0 5px 0; }

.select2-container {
  width: 100%; }

div.enhancement {
  width: 100%; }

#calculator-section .clearfix {
  margin-bottom: 10px; }

.inline-text {
  line-height: 28px; }

/* New UI */
#equipment {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
  min-height: 415px; }

#equipment .gear-slot {
  position: absolute;
  width: 64px;
  height: 64px;
  border: 2px solid gray;
  bottom: 0px;
  right: 0px; }

#equipment .gem-slot {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid gray;
  bottom: 0px;
  right: 0px;
  background-image: url("../images/48/gem.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%; }

#equipment .helmet {
  top: 0px;
  left: 50%;
  margin-left: -88px;
  background: url("../images/48/helmet.png") no-repeat center center; }

#equipment .gem-slot.helmet1 {
  top: 0px;
  left: 50%;
  margin-left: -122px; }

#equipment .gem-slot.helmet2 {
  top: 34px;
  left: 50%;
  margin-left: -122px; }

#equipment .armor {
  top: 0px;
  left: 50%;
  margin-left: 24px;
  background: url("../images/48/armor.png") no-repeat center center; }

#equipment .gem-slot.armor1 {
  top: 0px;
  left: 50%;
  margin-left: 92px; }

#equipment .gem-slot.armor2 {
  top: 34px;
  left: 50%;
  margin-left: 92px; }

#equipment .earring1 {
  top: 70px;
  left: 50%;
  margin-left: -164px;
  background: url("../images/48/earring.png") no-repeat center center; }

#equipment .ring1 {
  top: 70px;
  left: 50%;
  margin-left: 100px;
  background: url("../images/48/ring.png") no-repeat center center; }

#equipment .ring2 {
  top: 142px;
  left: 50%;
  margin-left: 134px;
  background: url("../images/48/ring.png") no-repeat center center; }

#equipment .earring2 {
  top: 142px;
  left: 50%;
  margin-left: -198px;
  background: url("../images/48/earring.png") no-repeat center center; }

#equipment .shoes {
  top: 213px;
  left: 50%;
  margin-left: -198px;
  background: url("../images/48/shoes.png") no-repeat center center; }

#equipment .gem-slot.shoes1 {
  top: 213px;
  left: 50%;
  margin-left: -232px; }

#equipment .gem-slot.shoes2 {
  top: 247px;
  left: 50%;
  margin-left: -232px; }

#equipment .gloves {
  top: 213px;
  left: 50%;
  margin-left: 134px;
  background: url("../images/48/gloves.png") no-repeat center center; }

#equipment .gem-slot.gloves1 {
  top: 213px;
  left: 50%;
  margin-left: 202px; }

#equipment .gem-slot.gloves2 {
  top: 247px;
  left: 50%;
  margin-left: 202px; }

#equipment .belt {
  top: 284px;
  left: 50%;
  margin-left: -164px;
  background: url("../images/48/belt.png") no-repeat center center; }

#equipment .necklace {
  top: 284px;
  left: 50%;
  margin-left: 100px;
  background: url("../images/48/necklace.png") no-repeat center center; }

#equipment .main-weapon {
  top: 349px;
  left: 50%;
  margin-left: -88px;
  background: url("../images/48/longsword.png") no-repeat center center; }

#equipment .gem-slot.main-weapon1 {
  top: 416px;
  left: 50%;
  margin-left: -88px; }

#equipment .gem-slot.main-weapon2 {
  top: 416px;
  left: 50%;
  margin-left: -54px; }

#equipment .secondary-weapon {
  top: 349px;
  left: 50%;
  margin-left: 24px;
  background: url("../images/48/shield.png") no-repeat center center; }

#equipment .gem-slot.secondary-weapon1 {
  top: 416px;
  left: 50%;
  margin-left: 24px; }

#equipment .gem-slot.secondary-weapon2 {
  top: 416px;
  left: 50%;
  margin-left: 58px; }

#equipment .stat-ap {
  top: 142px;
  left: 50%;
  margin-left: -60px;
  width: 120px; }

#equipment .stat-dp {
  top: 213px;
  left: 50%;
  margin-left: -32px; }

#equipment .stat-ap,
#equipment .stat-dp {
  text-align: center; }

#equipment .stat-ap strong,
#equipment .stat-dp strong,
#equipment .stat-ap span,
#equipment .stat-dp span {
  display: block;
  font-size: 20px; }

.item-details {
  position: relative;
  padding: 5px 8px;
  background: #272727;
  color: #fff;
  margin-bottom: 15px;
  border-radius: 5px; }

.item-details.selected {
  border: 4px double #00FF2B; }

.item-details .item-name strong {
  font-size: 18px;
  margin-right: 65px;
  display: block; }

.item-details .item-icon {
  display: inline-block;
  vertical-align: top; }

.item-details .item-icon img {
  vertical-align: baseline; }

.item-details .item-stats {
  vertical-align: top;
  display: inline-block;
  font-size: 16px;
  font-weight: bold; }

.item-details .item-choose {
  position: absolute;
  right: 8px;
  top: 5px; }

.item-details .item-gems,
.item-details .item-effects,
.item-details .item-set-effects,
.item-details .item-enhancement-effects,
.item-details .item-enhancement-level {
  margin-top: 8px; }

.item-details .item-gems > div,
.item-details .item-effects > div,
.item-details .item-set-effects > div,
.item-details .item-enhancement-effects > div {
  color: #e9bd23; }

.item-details .item-gems > div::before,
.item-details .item-effects > div::before,
.item-details .item-set-effects > div::before,
.item-details .item-enhancement-effects > div::before {
  content: "- ";
  color: #fff; }

.item-details .item-effects strong {
  display: inline-block; }

.item-details .item-set-effects strong {
  display: block; }

.item-details .item-set-effects span {
  color: #fff; }

.item-details .item-enhancement-level strong {
  display: block; }
